@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

div,
html,
html body {
    color: #3e3e3e;
    background-color: #3e3e3e;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

#holistic {
    overflow-x: hidden;
}

#holistic h1{
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100vh;
}

#holistic button.ant-btn{
    background-size: contain;
    opacity: 70%;
    border-radius: 5px;
    width: 15vh;
    height: 20vh;
    margin-right: 5px;
    margin-left: auto;
    margin-bottom: 6px;
    font-family: "roboto";
    font-size: 1.5vh;
    color: #ffffff;
}

#holistic button.ant-btn:focus{
    color: #00d656;
    border-color: #00923a;
}

#holistic button.ant-btn:hover{
    opacity: 100%;
    color: #00d656;
    border-color: #00923a;
    border-radius: 5px;
}

#holistic .ant-row{
    text-align: center;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 100vh;
}

#holistic .ant-tabs-content-holder{
    overflow-y: scroll;
    overflow-x: hidden;
}

#holistic .ant-tabs{
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    width: auto;
}

#holistic .ant-tabs-tab-btn{
    color:#dadada;
    font-family: "roboto";
    font-size: 1.8vh;
}

#holistic .ant-tabs-tab-active{
    color:#00d656;
}

#holistic .ant-tabs-ink-bar {
    background-color: #00d656;
}

#holistic .ant-spin-spinning{
    background-color: transparent;
    color:#00ff66;
    opacity: 100%;
}

.ant-tabs-content-holder::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
}